@use '../susanoo';

@keyframes blink {
    0% {
        box-shadow: 0 0 #{susanoo.rem-calc(60)} #{susanoo.rem-calc(14)} black;
    }
    50% {
        box-shadow: 0 0 #{susanoo.rem-calc(60)} #{susanoo.rem-calc(14)} black;
    }
    51% {
        box-shadow: 0 0 #{susanoo.rem-calc(60)} #{susanoo.rem-calc(14)} var(--color-primary);
    }
    53% {
        box-shadow: 0 0 #{susanoo.rem-calc(60)} #{susanoo.rem-calc(14)} black;
    }
    58% {
        box-shadow: 0 0 #{susanoo.rem-calc(60)} #{susanoo.rem-calc(14)} black;
    }
    59% {
        box-shadow: 0 0 #{susanoo.rem-calc(60)} #{susanoo.rem-calc(14)} var(--color-primary);
    }
    61% {
        box-shadow: 0 0 #{susanoo.rem-calc(60)} #{susanoo.rem-calc(14)} black;
    }
    100% {
        box-shadow: 0 0 #{susanoo.rem-calc(60)} #{susanoo.rem-calc(14)} black;
    }
}

@keyframes mask {
    0% {
        left: 0;
        width: 0;
    }
    50% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 0;
    }
}
