@use '../susanoo';
@use '../lists';
@use 'animations';

.social-links {
    --animation-duration: 0.55s;
    --loaded-animation: 0.65s;

    @include lists.reset-list();
    display: flex;
    position: relative;
    flex: {
        direction: column;
    }
    gap: susanoo.rem-calc(32);
    &::before {
        content: '';
        position: absolute;
        top: susanoo.rem-calc(-20);
        right: calc(-100% - 3px);
        height: 0;
        width: var(--line-width);
        background: {
            color: var(--color-primary);
        }
        transition: height 2s calc(var(--animation-duration) + var(--loaded-animation)) ease-in-out;
    }
    &.is-active {
        li {
            &::before {
                width: 0;
            }
        }
        .icon {
            &::before {
                color: white;
            }
        }
        .github {
            &::after {
                animation: blink 4s linear infinite;
            }
        }
    }
    li {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 0;
            height: 100%;
            background: {
                color: var(--color-primary);
            }
            animation: mask calc(var(--loaded-animation) * 2) calc(var(--animation-duration) + 2.5s) ease-in-out;
            z-index: 2;
        }
    }
    .icon {
        &::before {
            color: transparent;
            transition: color 0.25s calc(var(--animation-duration) + var(--loaded-animation)) linear;
        }
    }
    .github {
        &:hover {
            &::after {
                animation: unset;
            }
        }
    }
}
