@use 'animations';

@mixin mask($delay: 0s) {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        background: {
            color: var(--color-mask, var(--color-primary));
        }
        animation: mask 1s $delay linear;
    }
    > span {
        opacity: 1;
        transition: opacity 0s calc(0.5s + #{$delay}) linear;
    }
}
