@keyframes anchor1 {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes line {
    from {
        top: 50%;
        height: 0;
    }
    to {
        top: 0;
        height: 100%;
    }
}
