@mixin reset() {
    &::before,
    &::after {
        content: unset;
        position: unset;
        box-shadow: unset;
        background: {
            color: unset;
        }
        transition: unset;
        transform: unset;
    }
}
