@use '../susanoo';
@use '../icons';
@use '../helpers';
@use 'mixins';

a {
    --line-offset: -3px;

    display: inline-block;
    position: relative;
    text: {
        decoration: none;
    }
    color: white;
    transition: color .2s linear, background-color .2s ease-in-out;
    > span {
        color: white;
        transition: color .2s linear;
    }
    &:hover,
    &:focus {
        color: var(--color-primary);
        outline: none;
        > span {
            color: var(--color-primary);
        }
        &::before {
            width: 50%;
            transform: translateX(100%);
        }
        &::after {
            width: 50%;
            transform: translateX(-100%);
        }
    }
    &::before,
    &::after {
        @include helpers.steroid-lines();
        content: "";
        position: absolute;
        bottom: var(--line-offset);
        width: 0;
        height: 5px;
        transition: width 0.25s linear, transform 0.25s linear;
    }
    &::before {
        left: 0;
        background: {
            color: var(--color-secondary);
        }
    }
    &::after {
        right: 0;
        background: {
            color: var(--color-tertiary);
        }
    }
    &.icon {
        @include mixins.reset();
        font: {
            size: clamp(#{susanoo.rem-calc(30)}, 2vw, #{susanoo.rem-calc(48)})
        }
        width: clamp(#{susanoo.rem-calc(30)}, 2vw, #{susanoo.rem-calc(48)});
        &:hover {
            &::after {
                box-shadow: 0 0 #{susanoo.rem-calc(60)} #{susanoo.rem-calc(14)} var(--color-tertiary);
            }
        }
        &::before {
            @include susanoo.icon(null, true);
        }
        &::after {
            content: '';
            margin: {
                left: susanoo.rem-calc(-16);
            }
            border: {
                radius: 100%;
            }
            transition: box-shadown 1s linear;
        }
        > span {
            position: absolute;
            top: 50%;
            left: 0;
            opacity: 0;
            font: {
                size: susanoo.rem-calc(10)
            }
        }
        &.github {
            &::before {
                @include susanoo.icon(icons.$icon-github, false);
            }
        }
        &.twitter {
            &::before {
                @include susanoo.icon(icons.$icon-twitter, false);
            }
        }
        &.linkedin {
            &::before {
                @include susanoo.icon(icons.$icon-linkedin, false);
            }
        }
    }
}
