@use '../susanoo';
@use '../icons';
@use 'animations';
@use 'mixins';

a {
    --line-offset: -3px;

    display: inline-block;
    position: relative;
    text: {
        decoration: none;
    }
    color: white;
    transition: color .2s linear, background-color .2s ease-in-out;
    > span {
        color: white;
        transition: color .2s linear;
    }
    &:hover,
    &:focus {
        color: var(--color-primary);
        outline: none;
        > span {
            color: var(--color-primary);
        }
        &::before {
            width: 100%;
        }
        &::after {
            width: 100%;
            animation: hoverAnimation .65s cubic-bezier(.694,.048,.335,1) .15s;
        }
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: var(--line-offset);
        width: 0;
        height: 3px;
        background: {
            color: var(--color-primary);
        }
        transition: all .25s cubic-bezier(.694,.048,.335,1)
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: var(--line-offset);
        width: 0;
        height: 3px;
        background: {
            color: var(--color-blue);
        }
        transition: width .75s cubic-bezier(.694,.048,.335,1) .15s, left .75s ease;
    }
    &.icon {
        @include mixins.reset();
        font: {
            size: clamp(#{susanoo.rem-calc(30)}, 2vw, #{susanoo.rem-calc(48)})
        }
        width: clamp(#{susanoo.rem-calc(30)}, 2vw, #{susanoo.rem-calc(48)});
        &:hover {
            &::after {
                box-shadow: 0 0 #{susanoo.rem-calc(60)} #{susanoo.rem-calc(14)} var(--color-primary);
            }
        }
        &::before {
            @include susanoo.icon(null, true);
        }
        &::after {
            content: '';
            margin: {
                left: susanoo.rem-calc(-16);
            }
            border: {
                radius: 100%;
            }
            transition: box-shadown 1s linear;
        }
        > span {
            display: none;
        }
        &.github {
            &::before {
                @include susanoo.icon(icons.$icon-github, false);
            }
        }
        &.twitter {
            &::before {
                @include susanoo.icon(icons.$icon-twitter, false);
            }
        }
        &.linkedin {
            &::before {
                @include susanoo.icon(icons.$icon-linkedin, false);
            }
        }
    }
}
