@use '../susanoo';
@use '../grid/mixins' as grid;
@use '../lists/mixins' as lists;
@use '../links/mixins' as links;
@use 'animations';

.burger-navigation {
    --content-duration: 0.25s;
    --content-delay: 0.125s;
    --core-delay: 0.9s;

    position: fixed;
    bottom: 100%;
    transition: opacity 0.5s linear, bottom 0s var(--core-delay) linear;
    opacity: 0;
    @include susanoo.media(medium) {
        opacity: 1;
        z-index: 9999;
    }
    &.is-visible {
        opacity: 1;
        z-index: 9999;
    }
    &.is-active {
        bottom: 0;
        transition: bottom 0s linear;
    }
    .menu {
        @include grid.grid-item-extend();
        --circle: #{susanoo.rem-calc(50)};
        --column-start: 12;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--circle);
        height: var(--circle);
        background: {
            color: rgb(255 10 0 / 87%);
        }
        border: {
            radius: susanoo.rem-calc(40);
        }
        margin: {
            left: auto;
        }
        cursor: pointer;
        z-index: 5;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: susanoo.rem-calc(-15);
            right: susanoo.rem-calc(-15);
            bottom: susanoo.rem-calc(-15);
            left: susanoo.rem-calc(-15);
            border: {
                width: 1px;
                style: solid;
                color: var(--color-secondary);
                radius: 50%;
            }
            animation: pulsing 20s linear infinite;
        }
        &::after {
            animation: {
                delay: 0.35s;
            }
        }
        &.is-active {
            &:hover {
                > span {
                    &:nth-child(1) {
                        left: 25%;
                        bottom: 50%;
                        width: 55%;
                        transform: rotate(-45deg);
                    }
                    &:nth-child(2) {
                        top: 50%;
                        left: 25%;
                        width: 55%;
                        transform: rotate(45deg);
                    }
                }
            }
            > span {
                &:nth-child(1) {
                    top: 50%;
                    bottom: unset;
                    left: 25%;
                    width: 55%;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    left: 25%;
                    bottom: 50%;
                    width: 55%;
                    transform: rotate(-45deg);
                }
                &:nth-child(3) {
                    opacity: 0;
                }
            }
        }
        &:hover {
            .path {
                stroke: var(--color-secondary);
                stroke-dashoffset: 0;
                transform: rotate(450deg);
                transition: stroke-dashoffset 1.5s ease-in-out, transform 1.5s ease-in-out;
            }
            > span {
                background: {
                    color: var(--color-secondary);
                }
                &:nth-child(1) {
                    top: 48%;
                    left: 40%;
                    transform: rotate(90deg);
                }
                &:nth-child(2) {
                    top: 33%;
                    left: 23%;
                    width: 51%;
                    transform: rotate(325deg);
                }
                &:nth-child(3) {
                    top: 62%;
                    left: 23%;
                    width: 50%;
                    transform: rotate(35deg);
                }
            }
        }
        > span {
            position: absolute;
            display: block;
            height: 3px;
            background: {
                color: white;
            }
            transition: all 0.4s cubic-bezier(.694,.048,.335,1);
            &:nth-child(1) {
                top: 33%;
                left: 20%;
                right: 0;
                width: 60%;
            }
            &:nth-child(2) {
                top: 48%;
                left: 35%;
                right: 0;
                width: 45%;
            }
            &:nth-child(3) {
                top: 63%;
                left: 50%;
                right: 0;
                width: 30%;
            }
        }
        .name {
            opacity: 0;
        }
        .spinner {
            position: absolute;
            &.is-active {
                .path {
                    stroke-dashoffset: 0;
                    transform: rotate(450deg);
                }
            }
        }
        .path {
            stroke: var(--color-secondary);
            stroke-dasharray: 200;
            stroke-dashoffset: 305%;
            transform-origin: center;
            transform: rotate(0deg);
            transition: stroke-dashoffset 1.5s ease-in-out, transform 1.5s ease-in-out;
        }
    }
    .container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 200%;
            transform: translateX(-50%);
        }
        &::before {
            background: {
                color: var(--color-primary);
            }
            transition: left 1s 0.25s ease-in-out;
            z-index: 2;
        }
        &::after {
            background: {
                image: linear-gradient(to top, #16151c, #09090b);
            }
            transition: left 1s ease-in-out;
            z-index: 3;
        }
        &.is-active {
            &::before,
            &::after {
                left: 50%;
            }
            &::before {
                transition: left 1s ease-in-out;
            }
            &::after {
                transition: left 0.75s 0.25s ease-in-out;
            }
            .content {
                opacity: 1;
                transform: translateX(0);
                transition: transform 0s 0.9s, opacity 0s 1s linear;
            }
            a {
                > span {
                    &::before,
                    &::after {
                        opacity: 1;
                        top: 0;
                        transition: color var(--content-duration) var(--content-delay) linear, transform var(--content-duration) var(--content-delay) linear, top 0.3s 1s linear, opacity 0s var(--core-delay) linear;
                    }
                }
            }
        }
    }
    .content {
        opacity: 0;
        z-index: 4;
        transform: translateX(1000%);
        transition: transform 0s 0.3s, opacity 0s 0.3s linear;
        ul {
            @include lists.reset-list();
        }
        li {
            position: relative;
        }
        a {
            @include links.reset();
            font: {
                size: clamp(#{susanoo.rem-calc(60)}, 2vw, #{susanoo.rem-calc(80)});
            }
            overflow: hidden;
            &:hover {
                &::before {
                    left: 100%;
                }
                > span {
                    &::before {
                        color: var(--color-primary);
                        transform: translate(#{susanoo.rem-calc(10)}, -3px);
                    }
                    &::after {
                        color: var(--color-primary);
                        transform: translate(#{susanoo.rem-calc(-10)}, 3px);
                    }
                }
            }
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -100%;
                width: 100%;
                height: 2px;
                transform: translateY(-50%);
                background: {
                    color: var(--color-blue);
                }
                transition: left 0.25s linear;
            }
            > span {
                color: transparent;
                position: relative;
                &::before,
                &::after {
                    transition: top 0.3s 0.1s linear, opacity 0s 0.4s linear;
                }
                &::before {
                    content: attr(data-text);
                    position: absolute;
                    top: susanoo.rem-calc(-100);
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: white;
                    opacity: 0;
                    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
                }
                &::after {
                    content: attr(data-text);
                    position: absolute;
                    top: susanoo.rem-calc(-100);
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: white;
                    opacity: 0;
                    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
                }
            }
        }
    }
}
