@use '../susanoo';
@use '../grid/mixins' as grid;
@use '../masks/mixins' as mask;
@use '../lists/mixins' as lists;
@use 'animations';

.facts {
    position: relative;
    opacity: 0;
    transition: opacity .35s linear;
    &.loaded {
        opacity: 1;
    }
    &.is-active {
        .title {
            @include mask.mask();
        }
    }
    .grid {
        &.is-active {
            .image {
                &::before {
                    transform: translateY(0);
                }
                .headline {
                    @include mask.mask($delay: 1s);
                }
            }
            img {
                transform: translateY(0);
            }
            .content {
                .headline {
                    @include mask.mask();
                }
                .description {
                    &::before {
                        animation: mask-paragraph-before 0.85s linear;
                    }
                    &::after {
                        animation: mask-paragraph-after 0.45s 0.3s linear;
                    }
                }
                p {
                    opacity: 1;
                }
            }
        }
    }
    .headline {
        @include grid.grid-item();
        --columns: 12;

        position: relative;
        > span {
            opacity: 0;
        }
    }
    .facts-list {
        @include lists.reset-list();
    }
    li {
        padding: {
            bottom: susanoo.rem-calc(100);
        }
        overflow: hidden;
        &:nth-child(even) {
            .image {
                --column-start: 8;

                .headline {
                    --color-headline: var(--color-blue);
                    --color-mask: var(--color-blue);

                    left: -30%;
                }
            }
            .content {
                --column-start: 2;

                order: -1;
                &::before {
                    left: 25%;
                }
            }
            .content {
                .headline {
                    --color-headline: var(--color-primary);
                    --color-mask: var(--color-primary);
                }
            }
        }
        .content {
            .headline {
                --color-mask: var(--color-blue);
            }
        }
    }
    .image {
        @include grid.grid-item-extend();
        --columns: 5;
        --column-start: 1;

        position: relative;
        height: susanoo.rem-calc(450);
        &::after {
            content: '';
            position: absolute;
            height: 75%;
            width: var(--line-width);
            background: {
                color: var(--color-primary);
            }
            top: 20%;
            right: -20%;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: {
                color: var(--color-primary);
            }
            transform: translateY(-101%);
            transition: transform 0.65s ease-out;
        }
        .headline {
            --color-headline: var(--color-primary);

            position: absolute;
            bottom: 10%;
            right: -30%;
            font: {
                family: 'Noto Sans AK', sans-serif;
                size: susanoo.rem-calc(80);
            }
            letter-spacing: 4px;
            > span {
                opacity: 0;
            }
        }
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: translateY(-101%);
        transition: transform 0.6s 0.45s ease-out;
    }
    .content {
        @include grid.grid-item-extend();
        --columns: 4;
        --column-start: 8;

        position: relative;
        padding: susanoo.rem-calc(24);
        margin: auto 0;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: var(--line-width);
            background: {
                color: var(--color-blue);
            }
        }
        &::before {
            top: 95%;
            left: calc(25% - 2px);
            height: 25%;
        }
        &::after {
            top: 100%;
            height: 20%;
            right: 25%;
        }
        .description {
            position: relative;
            &::before,
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
            &::before {
                background: {
                    color: var(--color-primary);
                }
            }
            &::after {
                background: {
                    color: var(--color-blue);
                }
            }
        }
        p {
            opacity: 0;
            transition: opacity 0s 0.45s linear;
        }
        .headline {
            --color-headline: var(--color-blue);
        }
    }
}
