@use '../susanoo';
@use '../grid/mixins' as grid;
@use 'animations';

.staging {
    --delay-lines: 0.6s;
    --delay-lines-travel: 0.5s;

    position: relative;
    padding: {
        top: 0;
    }
    opacity: 0;
    transition: opacity 0.75s linear;
    .grid {
        min: {
            height: 80vh;
        }
    }
    &.is-active {
        opacity: 1;
        .social-links {
            &::before {
                height: 75%;
            }
        }
        .author {
            opacity: 1;
        }
        .content,
        .letters {
            &::before {
                height: 100%;
                top: 0;
            }
        }
    }
    .author {
        opacity: 0;
        transition: opacity 0.4s 1s linear;
    }
    .social-links {
        @include grid.grid-item();
        --columns: 1;
    }
    .content,
    .letters {
        position: relative;
        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 0;
            width: var(--line-width);
            background: {
                color: var(--color-primary);
            }
        }
        &::before {
            transition: top 2.25s var(--delay-lines) linear, height 2.25s var(--delay-lines) ease-in-out;
        }
        &::after {
            animation: travel-line 4s var(--delay-lines-travel) ease-in-out infinite;
        }
    }
    .content {
        @include grid.grid-item-extend();
        --columns: 4;
        --column-start: 3;

        padding: 0 susanoo.rem-calc(24);
        .headline {
            display: flex;
            flex: {
                direction: column;
            }
            line-height: 1.2;
        }
        &::before {
            top: -100%;
            right: -1px;
        }
        &::after {
            --delay-lines-travel: 1s;

            left: calc(100% / 2);
            @include susanoo.breakpoint(large) {
                left: calc(100% / 2 - 3px);
            }
        }
    }
    .letters {
        @include grid.grid-item();
        --columns: 4;

        display: flex;
        flex: {
            direction: column;
        }
        justify-content: center;
        align-items: center;
        font: {
            size: susanoo.rem-calc(110);
            family: 'Noto Sans AK', sans-serif;
        }
        &::before {
            top: -100%;
            right: -1px;
            transition: top 1.5s calc(var(--delay-lines) / 3) linear, height 1.5s calc(var(--delay-lines) / 3) ease-in-out;
        }
        &::after {
            height: 0;
            top: -100%;
            left: 50%;
            transform: translateX(-50%);
            @include susanoo.breakpoint(large) {
                left: calc(50% - 2px);
            }
        }
        &.is-active {
            > span {
                color: var(--color, var(--color-primary));
                filter: brightness(200%);
                &::before {
                    filter: blur(20px);
                }
                &:nth-child(1) {
                    --blinking-animation-duration: 2.5s;

                    animation: blinking-letter var(--blinking-animation-duration) linear;
                    &::before {
                        animation: blinking-letter-before var(--blinking-animation-duration) linear;
                    }
                }
                &:nth-child(3) {
                    --letter-animation-delay: 1.5s;
                }
                &:nth-child(4) {
                    --letter-animation-delay: 2s;
                }
                &:nth-child(5) {
                    --letter-animation-delay: 3s;
                }
            }
        }
        > span {
            --letter-animation-delay: 1s;

            display: block;
            position: relative;
            color: grey;
            filter: unset;
            line-height: 1.2;
            transition: color 0.1s var(--letter-animation-delay) linear, filter 0.1s var(--letter-animation-delay) linear;
            &:not(:first-child) {
                margin: {
                    top: susanoo.rem-calc(-30)
                }
            }
            &::before {
                content: '';
                position: absolute;
                mix-blend-mode: difference;
                top: 0;
                left: 0;
                filter: unset;
                transition: filter 0.25s var(--letter-animation-delay) linear;
            }
            &:nth-child(1) {
                --color: var(--color-blue);

                &::before {
                    content: 'Y';
                }
            }
            &:nth-child(2) {
                &::before {
                    content: 'O';
                }
            }
            &:nth-child(3) {
                --color: var(--color-blue);

                &::before {
                    content: 'L';
                }
            }
            &:nth-child(4) {
                --color: var(--color-blue);

                &::before {
                    content: 'O';
                }
            }
            &:nth-child(5) {
                &::before {
                    content: 'N';
                }
            }
        }
    }
}
