@use '../susanoo';
@use '../grid/mixins' as grid;

.floating-lines {
    --line-color: #1e1e1e;

    @include grid.grid();
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    padding: {
        top: 0;
        bottom: 0;
    }
    transform: translateX(-50%);
    width: 100%;
    max: {
        width: calc(var(--wrapper) + #{susanoo.rem-calc(79)});
    }
    z-index: -1;
    div {
        @include grid.grid-item-extend();
        border: {
            right: {
                color: var(--line-color);
                style: solid;
                width: 2px
            }
        }
        &:nth-child(1) {
            --columns: 2;
            --column-start: 3;
            border: {
                left: {
                    color: var(--line-color);
                    style: solid;
                    width: 2px
                }
            }
        }
        &:nth-child(2) {
            --columns: 2;
            --column-start: 5;
        }
        &:nth-child(3) {
            --columns: 2;
            --column-start: 7;
        }
        &:nth-child(4) {
            --columns: 2;
            --column-start: 9;
        }
    }
}
