@use '../susanoo';
@use '../grid/mixins' as grid;

.floating-lines {
    --line-color: #1e1e1e;

    div {
        @include grid.grid-item-extend();
        border: {
            right: {
                color: var(--line-color);
                style: solid;
                width: 2px
            }
        }
        &:nth-child(1) {
            --columns: 2;
            --column-start: 3;
            border: {
                left: {
                    color: var(--line-color);
                    style: solid;
                    width: 2px
                }
            }
        }
        &:nth-child(2) {
            --columns: 2;
            --column-start: 5;
        }
        &:nth-child(3) {
            --columns: 2;
            --column-start: 7;
        }
        &:nth-child(4) {
            --columns: 2;
            --column-start: 9;
        }
    }
}
