$icon-twitter: "\ea96";
$icon-github: "\eab0";
$icon-menu: "\e900";
$icon-linkedin: "\e901";
$icon-html: "\eae5";
$icon-css: "\eae6";
$icon-js: "\e908";
$icon-dart: "\e902";
$icon-react: "\e906";
$icon-next: "\e909";
$icon-vue: "\e907";
$icon-flutter: "\e90a";
$icon-symfony: "\e904";
