@use '../susanoo';
@use 'variables';
@use 'mixins';

html {
    font: {
        size: clamp(#{susanoo.rem-calc(16)}, 2vw, #{susanoo.rem-calc(22)});
    }
}

.app {
    --wrapper: #{susanoo.rem-calc(1440)};

    position: relative;
    font: {
        family: variables.$font-family;
    }
    overflow: hidden;
}
