@use '../susanoo';

body {
    background: {
        color: #000;
    }
    color: white;
    position: relative;
    &::-webkit-scrollbar {
        width: susanoo.rem-calc(8);
    }
    &::-webkit-scrollbar-thumb {
        background: {
            color: var(--color-secondary);
            clip: padding-box;
        }
        border: {
            radius: susanoo.rem-calc(32);
            style: solid;
            color: rgba(0, 0, 0, 0);
        }
        &:hover {
            background: {
                color: var(--color-tertiary);
            }
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: {
            image: url("/grainedBackground.png");
            attachment: fixed;
        }
        opacity: 0.45;
    }
    .particle {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        &.is-active {
            opacity: 1;
        }
    }
}
