@use '../susanoo';
@use 'animations';

.initial-page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: {
        color: black;
    }
    padding: unset;
    transition: background-color 0.5s 0.25s linear;
    &.is-active {
        background: {
            color: transparent;
        }
    }
    .container {
        height: 100vh;
        position: relative;
    }
    .first-paint {
        height: 100%;
        opacity: 0;
        transition: opacity 1s linear;
        &.is-active {
            opacity: 1;
        }
    }
    .last-paint {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s 0.75s linear;
        &.is-active {
            opacity: 1;
        }
        .title {
            font: {
                family: 'Tapestry', sans-serif;
            }
            letter-spacing: susanoo.rem-calc(6);
        }
    }
    .loader {
        --size: #{susanoo.rem-calc(400)};
        --border-color: #3d3d3d;

        width: var(--size);
        height: var(--size);
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .outer,
        .middle,
        .inner {
            --cordinate: 0;

            position: absolute;
            top: var(--cordinate);
            right: var(--cordinate);
            bottom: var(--cordinate);
            left: var(--cordinate);
            border: {
                radius: 50%;
                left: 5px solid var(--border-color);
                right: 5px solid var(--border-color);
                top: 5px solid transparent;
                bottom: 5px solid transparent;
            }
            animation: rotate 1s linear infinite;
        }
        .outer {
            --border-color: var(--color-blue);

        }
        .middle {
            --cordinate: 15%;
            --border-color: var(--color-primary);

            animation: rotate 1s linear infinite reverse;
        }
        .inner {
            --cordinate: 30%;
        }
    }
    .progression {
        position: absolute;
        display: flex;
        flex: {
            direction: column;
        }
        bottom: 10%;
        left: 0;
        width: 100%;
        padding: {
            top: unset;
            bottom: unset;
        }
        .percentage {
            font: {
                size: susanoo.rem-calc(30);
            }
            margin: {
                left: auto;
                bottom: susanoo.rem-calc(20);
            }
        }
        #nprogress {
            position: relative;
            height: susanoo.rem-calc(10);
            background: {
                color: #3d3d3d;
            }
            overflow: hidden;
        }
        .bar {
            position: absolute;
            top: 0;
            left: 0;
            height: susanoo.rem-calc(10);
            width: 100%;
            background: {
                color: var(--color-primary);
            }
        }
    }
}
