@use '../susanoo';
@use '../helpers';

.footer {
    &.is-active {
        .credits {
            opacity: 1;
            transform: translateY(0);
        }
        .social-links {
            li {
                &::before {
                    animation: mask 1.5s ease-in-out;
                }
            }
            a {
                opacity: 1;
                transition: opacity 0s .75s;
            }
        }
    }
    .credits {
        @include helpers.steroid-text();
        font: {
            family: "Alex Brush";
            size: clamp(#{susanoo.rem-calc(30)}, 6vw, #{susanoo.rem-calc(34)})
        }
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 1s linear, transform .4s linear;
    }
    .container {
        display: flex;
        justify-content: space-between;
        gap: susanoo.rem-calc(20);
        opacity: .9;
        @include susanoo.media(small) {
            justify-content: center;
            align-items: center;
            flex: {
                direction: column;
            }
        }
    }
    ul {
        flex: {
            direction: row;
        }
    }
    .social-links {
        li {
            &::before {
                animation: unset;
            }
        }
        a {
            opacity: 0;
            &.github {
                &::after {
                    animation: unset;
                }
            }
        }
    }
}
