@use '../susanoo';

button {
    background: {
        color: unset;
    }
    border: unset;
    cursor: pointer;
}

.button {
    --border-radius: #{susanoo.rem-calc(6)};

    position: relative;
    color: white;
    text: {
        transform: uppercase;
    }
    background: {
        color: transparent;
    }
    padding: susanoo.rem-calc(18) susanoo.rem-calc(30);
    &:hover {
        &::before {
            transform: skewX(0deg);
            left: 50%;
            top: 0;
        }
        &::after {
            transform: skewX(0deg);
            left: 0;
            top: 0;
        }
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 50%;
        transform: skewX(30deg);
        z-index: -1;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        box: {
            shadow: -0.05em 0 6px var(--color-tertiary), 0.05em 0 6px var(--color-secondary);
        }
    }
    &::before {
        left: -1%;
        top: -5px;
        background: {
            color: var(--color-tertiary);
        }

    }
    &::after {
        left: 51%;
        top: 5px;
        background: {
            color: var(--color-secondary);
        }
    }
}
