@use '../susanoo';

button {
    background: {
        color: unset;
    }
    border: unset;
    cursor: pointer;
}

.button {
    --border-radius: #{susanoo.rem-calc(6)};

    position: relative;
    color: white;
    text: {
        transform: uppercase;
    }
    background: {
        color: var(--color-primary);
    }
    border: {
        radius: var(--border-radius);
    }
    padding: susanoo.rem-calc(6) susanoo.rem-calc(18);
    transition: background-color 0.2s linear, transform 0.2s linear;
    &:hover {
        box-shadow: 0 #{susanoo.rem-calc(2)} #{susanoo.rem-calc(32)} var(--color-primary);
        background: {
            color: var(--color-primary);
        }
        &::before,
        &::after {
            transform: scale(1.15);
            opacity: 0;
        }
    }
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: {
            radius: var(--border-radius);
        }
        z-index: -1;
        transition: transform 0.4s 0.3s, opacity 0.3s 0.2s;
        background: {
            color: var(--color-primary);
        }
    }
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: {
            radius: var(--border-radius);
        }
        z-index: -1;
        transition: transform 0.4s, opacity 0.3s;
        background: {
            color: var(--color-primary);
        }
    }
}
