@use '../susanoo';
@use '../grid/mixins' as grid;

.japanese-text {
    @include grid.grid-item-extend();
    display: flex;
    justify-content: center;
    &--left {
        --column-start: 1;
        --columns: 2;

        transform: translateY(-25%);
    }
    &--right {
        --column-start: 11;
        --columns: 2;

        transform: translateY(25%);
    }
    > span {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: center;
        color: #383838;
        font: {
            family: "Noto Sans Japan";
            size: susanoo.rem-calc(40);
            weight: 900;
        }
    }
}
